body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;

}

h1 {
    font-size: 50px;
}

.title {
    color: #ffa600;
}

section {
    display: flex;
    margin-bottom: 100px;
}

.flexible-container {
    display: flex;
    margin-bottom: 100px;
}

.half-width {
    width: 50%;
    padding-left: 2%;
}

.half-width img {
    width: 80%;
    padding-left: 15%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.experience-item {
    width: 40%;
    box-shadow: 10px 10px 30px gray;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 10px;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    font-weight: 700;
    border-radius: 5px;
    color: white;
}

.top-banner {
    background-image: url(image/banner.png);
    background-repeat: no-repeat;
}

.experience-area {
    display: flex;
    margin-bottom: 100px;
}